<h1>Recently Added</h1>
<div>
    <% movies.forEach(movie => {%>
        <div style="display: inline-block; padding: 5px;">
            <img style="width: 200px; height: 300px;" src="<%= movie.posterImgPath%>">
            <p>
                <%= movie.title%>
            </p>
        </div>
        <%})%>
</div>