<div class="form-wrapper">
    <form method="POST" action="/studio/new">
        <br /><br />
        <input type="text" name="name" value="<%= studio.name %> " /><br /><br />
        <input type="date" name="founded" value="<%= date%>"><br /><br />
        <input type=" text" name="detail" value="<%= studio.detail%>" /><br /><br />
        <a href="/studio">Cancle</a>
        <button type="submit" formmethod="post">Create</button>
    </form>
    <% if(locals.err){ %>
        <p>
            <%= err%>
        </p>
        <% } %>
</div>