#container {
    background-color: var(--container-color);
    margin: 30px auto;
    width: 90%;
}

.flex-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.form-group-index {
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: var(--container-color);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-btn {
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: slateblue;
    margin-right: 10px;
    cursor: pointer;
}

.date-filter {
    -webkit-appearance: none;
    display: inline-block;
    width: 20%;
    margin: 0 1rem;
}

.flex-item {
    width: 100%;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.title {
    margin: 16px;
    padding-left: 10px;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
}

.title::before {
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    display: block;
    border: 2px solid red;
    content: '';
}

.movie-list-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3.7%;
}

.flex-movie-item {
    width: 17%;
    margin-bottom: 1.5rem;
}


/* pagination */

#pagination-wrap {
    width: 100%;
    text-align: center;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.pagination li {
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #181818;
}

.pagination li:hover {
    background-color: #cc0400;
}

.pagination .active {
    background-color: #16425b;
}

.pagination .active:hover {
    background-color: #16425b;
}

.pagination .active a {
    color: #f3f4f2;
}

@media screen and (max-width: 900px) {
    .movie-list-wrap {
        gap: 10%;
    }
    .flex-movie-item {
        width: 45%;
    }
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

:root {
    --container-color: #181818;
}