<link rel="stylesheet" href="/movieIndex.css">
<div id="container">
    <div class="flex-wrap">
        <h1>MOVIE LIST</h1>
        <div class="flex-item">
            <form action="/movie" method="GET">
                <label>Publish date</label>
                <input type="date" name="publishDate" value="<%= searchOptions.publishDate%>" class="form-control date-filter" />
                <button type="submit">Search</button>

            </form>
        </div>
        <div class="flex-item">
            <% movies.forEach(movie => {%>
                <div style="display: inline-block; padding: 5px;">
                    <a href="/movie/<%= movie._id%>">
                        <img style="width: 200px; height: 300px;" src="<%= movie.posterImgPath%>">
                        <p>
                            <%= movie.title%>
                        </p>
                   </a>
                </div>
                <%})%>
        </div>
    </div class="flex-wrap">
</div>